    body {
        background-image: url("../img/pizza.jpg");
        background-position: center top;
        background-size: 100% auto;
        color: white;
        font-size: 40px;
        font-weight: 700;
    }
    
    .hidden {
        display: none;
    }
    
    .arrow {
        text-decoration: none;
        color: rgb(186, 186, 186);
        position: fixed;
        left: auto;
        top: auto;
        bottom: 40px;
        right: 40px;
        -webkit-animation-name: greenPulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes greenPulse {
        from {
            text-shadow: 0 0 5px #333;
        }
        50% {
            text-shadow: 0 0 10px #91bd09;
            color: white;
        }
        to {
            text-shadow: 0 0 5px #333;
        }
    }
    
    .arrow:hover,
    .arrow:focus {
        text-decoration: none;
        color: white;
    }
    
    .background-fade {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(40, 20, 48, 0.71);
        z-index: 0;
    }
    
    .form-control {
        display: inline;
        width: 200px;
        color: #FFF;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0px;
        height: 42px;
        font-size: 30px;
    }
    
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
    
    .inner {
        margin-left: auto;
        margin-right: auto;
    }
    
    .table {
        font-size: 12px;
    }
    
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 3px;
        border-top: 1px solid rgba(232, 231, 231, 0.26);
    }